table {
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: lightblue;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

button {
    padding: 8px 15px;
}